@model Company

@{
    ViewData["Title"] = "Delete";
    string imgPath = Model.ImgPath;
    string relativePath = imgPath;
    if (imgPath.Contains("\\wwwroot\\"))
    {
        relativePath = imgPath.Substring(imgPath.IndexOf("\\wwwroot\\") + 9).Replace("\\", "/");
    }
}

<h1>Şirket Silme Sayfası</h1>

<h3>Silmek istediğinize emin misiniz ?</h3>
<div>
    <h4>Şirket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanySector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanySector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaxNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaxNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebSite)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkedIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkedIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstablishmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstablishmentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountofWorker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountofWorker)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImgPath)
        </dt>


        <dd>
            <img src="@Url.Content("~/" + relativePath)" alt="Şirket Logosu" style="max-width: 100px; max-height: 100px;" />
        </dd>

   
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye dön</a>
    </form>
</div>
