@model Teknokent.Models.CampusPreliminaryAppForm

@{
    ViewData["Title"] = "Delete";
}

<h1>Ön Yerleşke Başvuru Silme Sayfası</h1>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Ön Yerleşke Başvuru Formu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hasCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hasCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxAdministration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxAdministration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Campus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Campus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wantSection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wantSection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wantSpace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wantSpace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wantWorker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wantWorker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wantSupportWorker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wantSupportWorker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wantOutOfScopeWorker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wantOutOfScopeWorker)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye dön</a>
    </form>
</div>
