@model Office

@{
    ViewData["Title"] = "Delete";
    string imgPath = Model.ImgPath;
    string relativePath = imgPath;
    if (imgPath.Contains("\\wwwroot\\"))
    {
        relativePath = imgPath.Substring(imgPath.IndexOf("\\wwwroot\\") + 9).Replace("\\", "/");
    }
}

<h1>Ofis silme sayfası</h1>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Office</h4>
    <hr />
    <dl class="row">
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecommendLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecommendLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImgPath)
        </dt>


        <dd>
            <img src="@Url.Content("~/" + relativePath)" alt="Ofis görseli" style="max-width: 100px; max-height: 100px;" />
        </dd>


    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye dön</a>
    </form>
</div>
